body {
	margin: 0;
	width : 840px;
	margin : auto;
	background-color : black;
}

canvas {
	border: solid 1px rgba(0,0,0,1);
	margin : 20px;
	background-image : url("./graph/background.png");
}

#control {
	color : white;
	left: 25px;
    position: relative;
    text-align: left;
    width: 300px;
}

#credit {
	color : white;
	left: 515px;
	top : -80px;
    position: relative;
    text-align: right;
    width: 300px;
}

/*#gameCanvas {
	width : 500px;
	min-width : 500px;
	height : 300px;
	min-height : 300px;
}*/